#Name{
    margin-left: 5%;
}
#Email{
    margin-left: 5.5%;
}
#Phone{
    margin-left: -1%;
}
#Password{
    margin-left: 3%;
}
form{
    margin-top: 10%;
}
#Email1{
    margin-left: 7%;
}
#Phone1{
    margin-left: .5%;
}
#Pass1{
    margin-left: 4.5%;
}
.Regi{
    margin-top: 1%;
    margin-left: 7%;
}
.Log{
    margin-top: 1%;
    margin-left: 7%;
}
.inputs{
    transform: translateX(-15px);
}
.input{
    transform: translateX(-300px);
}
#email{
    margin-left: 1%;
}
#name{
    margin-left: 1%;
}
#phone{
    margin-left: 1%;
}
#password{
    margin-left: 1%;
}